.App {
   text-align: center;
   width: 100%;
   height: 100%;
   display: flex;
   padding: 1rem;
   background-color: #282c34;
   color: #61dafb;
}

.monkey-points {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.monkey-points h1 {
   margin-left: auto;
   margin-right: auto;
   margin-top: 3rem;
   margin-bottom: 3rem;
}

#calculate_btn {
   width: 200px;
   height: 40px;
   border-radius: 5px;
   font-size: 24px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3rem;
   margin-bottom: 3rem;
   background-color: transparent;
   color: #61dafb;
   cursor: pointer;
}

.result-part {
   width: fit-content;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3rem;
   margin-bottom: 3rem;
}

#result_label {
   margin-top: auto;
   margin-bottom: auto;
   font-size: 24px;
   margin-right: 1rem;
}
